@import url('https://fonts.googleapis.com/css2?family=Junge&family=Kotta+One&display=swap');
      div {
      font-family: Kotta One, Kotta One;
      color: #A9C3DA;
      }

body {
  background-image: url(backgrounds/fevboy-website-home-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.text-link-function {
  text-decoration: none;
  color: #A9C3DA;
}
.text-link-function:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #A9C3DA;
}
.image-link-function {
  text-decoration: none;
  color: #A9C3DA;
}
.image-link-function:hover {
    cursor: pointer;
    color: #A9C3DA;
}

.header {
  display: block;
  margin: 20px;
  text-align: center;
}
.header-logo {
  width: 100%;
  margin-bottom: 20px;
}
.ev-logo {
  width: 200px;
}
.header-texts {
  display: flex;
  font-size: 22px;
  margin-bottom: 25px;
}
.header-texts-left {
  flex: 1;
}
.home-text {
  width: 55px;
  font-weight: 1000;
}
.music-text {
  width: 60px;
  margin-left: 35px;
  margin-right: 35px;
}
.socials-text {
  width: 65px;
}
.header-texts-right {
  flex: 1;
}
.header-line {
  width: 130px;
  border-bottom: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
}

.highlights {
  display: block;
  margin: 20px;
  margin-top: 40px;
  margin-bottom: 80px;
  text-align: center;
}
.highlights-header {
  font-size: 20px;
  letter-spacing: 2px;
  display: block;
  padding: 20px;
  padding-bottom: 25px;
}
.highlights-content {
  display: block;
  height: 280px;
  width: 100%;
}
.highlights-content-box-background-image {
  position: relative;
}
.highlights-content-box {
  display: flex;
  height: 280px;
  width: 455px;
  border-radius: 25px;
  border-color: #A9C3DA;
  border-style: solid;
  border-width: 1px;
  background-image: url(backgrounds/fevboy-website-box-background.png);
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
}
.highlights-content-text {
  width: 100%;
  text-align: center;
  letter-spacing: 1px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
}
.presave-now-text {
  text-decoration: underline;
}
.blue-hour-single-image-placeholder {
  width: 250px;
  height: 250px;
  margin-left: 7.5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 50px;
}
